<html>
<head>
<title>Pattern marker example with Three.js</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<style>
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	overflow-x: hidden;
}
.portrait canvas {
	transform-origin: 0 0;
	transform: rotate(-90deg) translateX(-100%);
}
.desktop canvas {
 	transform: scale(-1, 1);
}
.isHidden {
  opacity: 0;
}
#enemyTitle {
  font-size: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
</head>
<body>

  <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
   <div id="enemyTitle" class="isHidden">
     <div>Battle: Cactaur</div>
     <button>SOLO FIGHT</button>
     <button>MULTI FIGHT</button>
   </div>
	<a-scene embedded arjs='sourceType: webcam;'>
    <a-marker id="a-marker" preset='hiro'>
      <a-plane src="cactaur.png" position='0 0.5 0' material='opacity: 1;' rotation='-90 0 0' width="2" height="2"></a-plane>
  <!-- here define the content to display on top of the marker -->
      <!-- <a-box position='0 0.5 0' material='color: red;'></a-box> -->
    </a-marker>
    <!-- define a simple camera -->
    <a-entity camera></a-entity>
		<!-- <a-plane src="https://res.cloudinary.com/dmsuvanyj/image/upload/v1478620978/143Snorlax_3D_Pro_cstfyh.png" position='0 0.5 0' material='opacity: 1;' rotation='-90 0 0' width="2" height="2"></a-plane>
		<a-marker-camera preset='hiro'></a-marker-camera> -->
	</a-scene>
</body>
<script>
  var markerGot = false;
  var hideBattle = setInterval(() => {
    if (document.getElementById('a-marker').object3D.visible) {
      document.getElementById('enemyTitle').classList.remove('isHidden');
      console.log('tick')
      clearInterval(hideBattle);
    }
  }, 500)
</script>
</html>
