<html>
<head>
<title>Pattern marker example with Three.js</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<style>
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	overflow-x: hidden;
}
.isHidden {
  opacity: 0;
  pointer-events: none;
}
a-scene {
	position: absolute;
	top: 0;
	left: 0;
}
#a-scene.gotHit {
	animation: .5s bosshit ease-in-out;
}
@keyframes bosshit {
	0% {
		transform: translateY(-15%)
	}
	50% {
		transform: translateY(15%)
	}
	100% {
		transform: translateY(0)
	}
}
#ffLogo {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 8em;
}
#enemyTitle, #multiTitle {
  font-size: 1em;
	line-height: 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	position: relative;
	z-index: 1000;
}
#multiTitle {
  position: absolute;
  top: 0;
}
#battleOverlay {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	color: white;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
#playerData {
	position: absolute;
	bottom: 1em;
	left: 0;
	display: flex;
	flex-direction: column;
}
#bossData {
	position: absolute;
	text-align: center;
	width: 54vw;
	left: 23vw;
	top: 20%;
	background-color: rgba(0, 0 ,0 ,0.7);
	border-radius: 5px;
	color: white;
	font-family: sans-serif;
	font-weight: 100;
	padding: .5em;
}
.playerHealth {
	background-color: rgba(0, 0 ,0 ,0.7);
	border-radius: 5px;
	color: white;
	font-family: sans-serif;
	font-weight: 100;
	padding: .5em;
	margin-left: .5em;
	margin-bottom: .5em;
}
#attack, #heal {
	width: 4em;
	margin-left: 1em;
	height: 4em;
  border-radius: 50%;
  cursor: pointer;
}
#multiPlayerId {
  max-height: 1em;
  font-size: 1em;
}
#multiPlayerId.isNext {
  box-shadow: 0px 0px 20px 5px palegreen;
  background-color: palegreen;
  border-radius: 5px;
}
.enemyStats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 13em;
	font-weight: 100;
	background-color: rgba(0, 0, 0, 0.7);
}
.enemyStats div {
	padding: .1em;
	padding-left: .3em;
	padding-right: .3em;
}
.enemyName {
	display: flex;
	width: 12.5em;
	justify-content: space-between;
}
.divider {
	margin-top: .2em;
	margin-bottom: .2em;
	border-bottom: 1px solid white;
	width: 13em;
}
.loot {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.loot div {
	margin-left: .5em;
	font-size: .9em;
}
.loot div:first-of-type {
	padding-left: 0;
	margin-left: 0;
	font-size: 1em;
}
#soloFight, #multiFight {
	cursor: pointer;
	width: 13em;
	height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}
</style>
</head>

  <body style='margin : 0px; overflow: hidden;'>
    <!-- DEBUG -->
    <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
    <!-- pre fight title screen -->
     <div id="enemyTitle" class="isHidden">
       <div class="enemyStats">
         <div class="enemyName"><span>Cactaur</span><span>Lvl. 20</span></div>
         <span class="divider"></span>
         <div>HP: 1000/1000</div>
         <div>MP: 50/50</div>
         <div>EXP: 20,000</div>
         <div class="loot">
           <div>Loot:</div>
           <div>Rare: Katana</div>
           <div>Common: Hi-Potion</div>
         </div>
         <span class="divider"></span>
         <div id="soloFight">Solo Battle</div>
         <span class="divider"></span>
         <div id="multiFight">Multi Battle</div>
       </div>
    </div>
    <div id="multiTitle" class="isHidden">
      <div class="enemyStats">
        <div class="enemyName"><span>Waiting for Players</span></div>
        <span class="divider"></span>
        <div>HP: 1000/1000</div>
        <div>MP: 50/50</div>
        <div>EXP: 20,000</div>
        <div class="loot">
          <div>Loot:</div>
          <div>Rare: Katana</div>
          <div>Common: Hi-Potion</div>
        </div>
        <span class="divider"></span>
        <div id="startMulti">Start Multi Battle</div>
      </div>
    </div>
    <div id="battleOverlay" class="isHidden">
      <img id="ffLogo" src="./logo.png"/>
      <div id="message-current"></div>
      <div id="message-next"></div>
      <div id="message-boss"></div>
      <div id="bossData">
        <span id="message-bossName"></span>
        <span>
          HP
          <span id="message-bossHp"></span>/<span id="message-bossMaxHp"></span>
        </span>
      </div>

      <div id="playerData">
        <div class="playerHealth">
          <span id="multiPlayerId">Player&nbsp;<span id="multiId"></span>:&nbsp;</span>
          <span>
            HP
            <span id="message-playerHp"></span>/<span id="message-playerMaxHp"></span>
          </span>
        </div>
        <div>
          <img src="./sword.png" id="attack"/>
          <img src="./heal.png" id="heal"/>
        </div>
        <!-- <button id="attack">Attack</button> -->
        <!-- <button id="heal">Heal</button> -->
      </div>
    </div>
      <!-- https://github.com/jeromeetienne/AR.js/blob/master/README.md -->
      <!-- Markercode from here -->
      <!-- https://aframe.io/blog/arjs/#move-the-camera-or-the-marker -->
    	<a-scene style="position: absolute;" embedded arjs='sourceType: webcam;'>
        <a-marker id="a-marker" preset='hiro'>
          <a-plane src="cactaur.png" position='0 0.5 0' material='opacity: 1;' rotation='-90 0 0' width="2" height="2"></a-plane>
        </a-marker>
        <!-- define a simple camera -->
        <a-entity camera></a-entity>
    	</a-scene>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io();
      </script>
  </body>
  <script>

    var queueCounter = 0;
    var soloFight = document.getElementById('soloFight');
    var multiFight = document.getElementById('multiFight');
    var startMulti = document.getElementById('startMulti');
    var multiTitle = document.getElementById('multiTitle');
    var ascene = document.getElementById('a-scene')
    var markerFound = false;
    var playerId = Math.random().toFixed(3).toString().replace('0.', '');
    // waiting for marker to be found after page is loaded
    // document.getElementById('enemyTitle').classList.remove('isHidden'); //debug
    // uncomment below for release
    var hideBattle = setInterval(() => {
      if (document.getElementById('a-marker').object3D.visible) {
        // https://github.com/artoolkit/artoolkit5/blob/master/doc/patterns/Hiro%20pattern.pdf
        // https://stackoverflow.com/questions/44799413/how-to-detect-when-marker-is-found-in-ar-js
        document.getElementById('enemyTitle').classList.remove('isHidden');
        markerFound = true;
        clearInterval(hideBattle);
      }
    }, 500);

    // init game state
    let cactaur = {
      name: 'Cactaur',
      attack: '100',
      actions: ['100 needles', '10 needles', '1 needle', 'Cactaur is thinking about an escape!'], // add an easy attack to help win?
      escapes: ['knows it\'s time escape!', 'is packing its needles!', 'is turning around!'],
      dead: false,
      hp: 1000,
      maxHp: 1000,
      escapeCounter: 0,
      '100 needles': 100,
      '10 needles': 10,
      '1 needle': 1,
    }
    let player = {
      number: 1,
      hp: 300,
      maxHp: 300,
      attack: 100,
      critical: 300,
      heal: 100,
      actions: ['attack', 'critical', 'miss'],
      alive: true,
    }
    let gameState = {
      id: 'solo',
      queue: ['boss', '001'],
      queueCounter: 0,
      playerActions: [],
      playerDeaths: 0,
      actionCounter: 0,
      boss: cactaur,
      currentMessage: 'Battle Start!',
      playerMap: {
        '001': player
      },
      win: false,
      lose: false,
      gameover: false,
    }

    startMulti.addEventListener('click', () => {
      socket.emit('startBattle');
      document.getElementById('multiTitle').classList.add('isHidden');
      document.getElementById('battleOverlay').classList.remove('isHidden');

      socket.on('tick', (json) => {
        console.log('tick', json)
        let newState = JSON.parse(json);
        gameState = newState;
        if (gameState.started) {
          document.getElementById('multiId').innerText = playerId;
          document.getElementById('message-bossName').innerText = gameState.boss.name;
          document.getElementById('message-playerMaxHp').innerText = gameState.playerMap[playerId].maxHp;
          document.getElementById('message-bossMaxHp').innerText = gameState.boss.maxHp;
          if (newState.gameover) {
            console.log('GAMEOVER', gameState)
            if (gameState.win) {
              gameState.currentMessage = 'You beat Cactaur!'
              socket.disconnect();
            } else if (gameState.lose) {
              gameState.currentMessage = 'Cactaur is victorious!'
              socket.disconnect();
            }
            updateDisplay(gameState);
          }
          updateDisplay(newState);
        }
      })
    })

    multiFight.addEventListener('click', () => {
      document.getElementById('enemyTitle').classList.add('isHidden');
      document.getElementById('multiTitle').classList.remove('isHidden');
      console.log('starting multi')
      player.number = playerId
      player.id = playerId
      let json = JSON.stringify(player)
      socket.emit('requestSlot', json);
    })

    let updateDisplay = (gameState) => {
      let currentMsg = document.getElementById('message-current')
      let bossHp = document.getElementById('message-bossHp')
      let playerHp = document.getElementById('message-playerHp')
      let nextPlayer = document.getElementById('multiPlayerId');
      let bossMsg = document.getElementById('message-boss');
      // update player hp
      playerHp.innerText = gameState.playerMap[playerId].hp;
      // update boss hp
      bossHp.innerText = gameState.boss.hp;
      // update current message
      currentMsg.innerText = gameState.currentMessage;
      if (gameState.innerText.match('hit')) {
        ascene.classList.add('gotHit');
        setTimeout(() => {
          ascene.classList.remove('gotHit')
        }, 500)
      }
      bossMsg.innerText = gameState.bossMsg;
      setTimeout(() => {
        currentMsg.innerText = '';
        bossMsg.innerText = '';
      }, 3000)

      if (gameState.nextPlayer == playerId) {
        nextPlayer.classList.add('isNext');
      } else {
        nextPlayer.classList.remove('isNext');
      }
      console.log('UPDATE', gameState.currentMessage)
    }

    soloFight.addEventListener('click', () => {
      playerId = '001';
      document.getElementById('enemyTitle').classList.add('isHidden');
      document.getElementById('battleOverlay').classList.remove('isHidden');
      console.log('starting solo')

      // no need for server at this point, we'll just run game loop on client
      // in a full version we would need to go through server to prevent cheating

      // game loop logic
      let bossTurn = (gameState) => {
        if (gameState.boss.escapeCounter === 3) {
          gameState.currentMessage = 'Cactaur ran away!'
          gameState.lose = true;
          return gameState;
        }
        // determine if boss is under 50%;
        if (gameState.boss.hp <= (gameState.boss.maxHp / 2)) {
          // activate escape counter
          console.log('escape counter increment')
          gameState.currentMessage = 'Cactaur ' + gameState.boss.escapes[gameState.boss.escapeCounter];
          gameState.boss.escapeCounter += 1;
          gameState.queueCounter += 1;
          return gameState;
        }
        // based on queue minus 0 index
        let randomAction = gameState.boss.actions[Math.floor(Math.random() * (gameState.boss.actions.length))];
        let randomTarget = Math.floor(Math.random() * (gameState.queue.length - 1) + 1);
        console.log(randomAction, randomTarget)
        if (gameState.boss[randomAction]) {
          let dmg = gameState.boss[randomAction];
          let playerToDmg = gameState.playerMap[gameState.queue[randomTarget]];
          playerToDmg.hp -= dmg;
          gameState.currentMessage = 'Cactaur used ' + randomAction + '! Player ' + playerToDmg.number + ' was damaged for ' + dmg + 'HP!'
          gameState.queueCounter += 1;
          console.log(playerToDmg, dmg, gameState.currentMessage)
        }
        return gameState
      }
      let playerTurn = (gameState, playerKey) => {
        // process action array
        let action = gameState.playerActions[gameState.actionCounter];
        if (action.dmg) {
          gameState.boss.hp -= action.dmg;
          gameState.currentMessage = action.msg;
        } else if (action.heal) {
          gameState.playerMap[playerKey].hp += action.heal;
          if (gameState.playerMap[playerKey].hp > gameState.playerMap[playerKey].maxHp) {
            gameState.playerMap[playerKey].hp = gameState.playerMap[playerKey].maxHp
          }
          gameState.currentMessage = action.msg;
        }
        gameState.actionCounter += 1;
        gameState.queueCounter += 1;
        if (gameState.queueCounter >= gameState.queue.length) {
          gameState.queueCounter = 0;
          console.log('boss turn')
        }
        console.log('PLAYERRUN', gameState.currentMessage)
        return gameState;
      }
      let gameLoop = (gameState) => {
        // check for gameovers
        if (gameState.lose || gameState.playerDeaths === gameState.queue.length - 1) {
          gameState.gameover = true;
          gameState.lose = true;
          return gameState;
        } else if (gameState.boss.hp <= 0) {
          gameState.gameover = true;
          gameState.win = true;
          return gameState;
        }

        var nextTurnKey = gameState.queue[gameState.queueCounter]
        // check for dead players
        if (gameState.playerMap[nextTurnKey]) {
          // player exists
          let player = gameState.playerMap[nextTurnKey];
          // check hp
          if (player.hp <= 0 && player.alive) {
            gameState.currentMessage = 'Player ' + player.number + ' has died!';
            player.alive = false;
            gameState.queueCounter += 1;
            gameState.playerDeaths += 1;
            return gameState;
          } else if (!player.alive) {
            gameState.queueCounter += 1;
            return gameState;
          }
        }
        console.log(nextTurnKey)
        let playerAction = gameState.playerActions[gameState.actionCounter];
        if (nextTurnKey === 'boss') {
          return bossTurn(gameState);
        } else if (playerAction && playerAction.owner === nextTurnKey) {
          console.log('action found')
          return playerTurn(gameState, nextTurnKey);
        } else {
          gameState.currentMessage = 'Waiting for Player ' + gameState.playerMap[nextTurnKey].number;
          return gameState;
        }
      }
      document.getElementById('message-bossName').innerText = gameState.boss.name;
      document.getElementById('message-playerMaxHp').innerText = gameState.playerMap[playerId].maxHp;
      document.getElementById('message-bossMaxHp').innerText = gameState.boss.maxHp;
      let updateDisplay = (gameState) => {
        let currentMsg = document.getElementById('message-current')
        let bossHp = document.getElementById('message-bossHp')
        let playerHp = document.getElementById('message-playerHp')
        // update player hp
        playerHp.innerText = gameState.playerMap[playerId].hp;
        // update boss hp
        bossHp.innerText = gameState.boss.hp;
        // update current message
        currentMsg.innerText = gameState.currentMessage;
        console.log('UPDATE', gameState.currentMessage)
      }
      updateDisplay(gameState);
      // gameloop
      let game = setInterval(() => {
        let newState = gameLoop(gameState);
        if (newState.gameover) {
          console.log('GAMEOVER', gameState)
          if (gameState.win) {
            gameState.currentMessage = 'You beat Cactaur!'
          } else if (gameState.lose) {
            gameState.currentMessage = 'Cactaur is victorious!'
          }
          updateDisplay(gameState);
          clearInterval(game);
        }
        updateDisplay(newState);

      }, 1000)
    })
    // player actions
    let attackButton = document.getElementById('attack');
    let healButton = document.getElementById('heal');
    attackButton.addEventListener('click', () => {

      console.log('offline attack')
      let playerNumber = gameState.playerMap[playerId].number;
      let action = { owner: playerId, dmg: 0, msg: 'Player ' + playerNumber + ' missed!' }
      let isHit = Math.random();
      let isCritical = Math.random();
      if (isHit > .33) {
        action.dmg = player.attack
        action.msg = 'Player ' + playerNumber + ' hit Cactaur for ' + action.dmg + 'HP!'
        if (isCritical > .8) {
          action.dmg = player.critical
          action.msg = 'Player ' + playerNumber + ' hit Cactaur for ' + action.dmg + 'HP! Critical!'
        }
      }
      let nextAction = gameState.playerActions[gameState.actionCounter]
      if (gameState.playerActions.length === 0) {
        gameState.playerActions.push(action);
      } else if (gameState.id === 'solo') {
        // single player
        gameState.playerActions.push(action);
      }
      console.log(gameState.actionCounter, gameState.playerActions)
      if (gameState.id === 'multi') {
        let json = JSON.stringify(action);
        socket.emit('playerAction', json);
      }

    })
    healButton.addEventListener('click', () => {
      console.log('offline heal')
      let playerNumber = gameState.playerMap[playerId].number;
      let action = { owner: playerId, heal: player.heal, msg: 'Player ' + playerNumber + ' healed for ' + player.heal + 'HP!' }
      gameState.playerActions.push(action);
      if (gameState.id === 'multi') {
        let json = JSON.stringify(action);
        socket.emit('playerAction', json);
      }
    })
  </script>
















</html>
